@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, p, b {
    position: relative;
    font-family: 'Lato', sans-serif;
}

.section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-section {
    background-image: url(../assets/background/liquidacaofantastica.jpg);
    cursor: pointer;
    background-size: 100% 100%;
    
}

.background-section--mod {
    display: none;
    background-color: #d50e23;
    background-size: 100% 100%;
    background-position: center;
}

.texto-aproveitar {
    color: yellow;
    display: flex;
    margin-bottom: 40%;    
}

.background-section--mod---div-one {
    display: flex;
    background-color: #fd4148;
    width: 700px;
    height: 100%;
    position: absolute;
}

.window-liqui {
    position: relative;
    display: none;
    justify-items: center;
    align-items: center;
    width: 300px; 
    height: 70%; 
    top: 30%;  
}

.input-container {
    display: flex;
    max-width: 300px;
    border-radius: 10px;
    align-items: center;
}

.fieldset-border {
    border-radius: 15px;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}
  
.fieldset-border .legend-border {
    font-size: 1.2em;
    text-align: center;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}

.section-head{
    background-color: white;
    display: flex;
    position: fixed; 
    height: 30%;
    width: 700px;
}

.texto-promocao {
    display: flex;
    top: 30%;
    justify-content: left;
    color: black;
    background-color: white;
    height: 60%;
    width: 400px;
    text-align: left;
    position: relative;
}

.topo {
    display: flex;
    position: absolute;
    height: max-content;
    width: auto;
    float: left;
}

.corpo {
    display: flex;
    position: relative;
    margin-top: 50px;
    height: max-content;
    float: left;
    margin-left: 20px;
}

li.lista {
    margin: 10px;
}

.base {
    display: flex;
    position: absolute;
    margin-top: 190px;
    height: max-content;
    float: left;
}

.footer {
    height: 10%;
    width: 700px;
    display: flex;
    position: absolute;
    bottom: 0px;
    text-align: center;
    align-items: center;
}

form {
    display: grid;
}

input {
    width: 88%;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    font-family: 'Lato', sans-serif;
}