@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, p, b {
    color: yellow;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.background-section {
    background-image: url(../assets/background/liquidacaofantastica.jpg);
    cursor: pointer;
    background-size: 100% 100%;
    
}

.background-section-mod {
    background-image: url(../assets/background/bg2.jpg);
    background-size: 100% 100%;
}

.window-liqui {
    display: none;
    justify-items: center;
    
}

.texto-aproveitar {
    display: flex;
    margin-bottom: 40%;    
}

.input {
    position: relative;
    margin-left: -300px; /* falta ajustar a posição dos inputs e buttons */

}